<body>

<b> Ec2-ID :</b> <a name="$ec2_id" href="https://ap-southeast-2.console.aws.amazon.com/ec2/v2/#Instances:instanceId=$ec2_id" target=_blank> $ec2_id </a>
<p>

<div>
<b>Public DNS Name :</b> <a name="$public_dns_name" href="http://$public_dns_name" target=_blank>$public_dns_name </a>
<p>
<b>&emsp;Attributes :</b> 
<div class="sub">
Instance Type : <a name="ec2_type" target=_blank href="http://www.ec2instances.info/?filter=$instance_type&region=ap-southeast-2"> $instance_type</a><p>
Launch Time : $launch_time<p>
<p>
</div>
&emsp;<b>Tags :</b> 
<div class="tags">
</div>
<!-- <ul>$list</ul> -->
<hr>
</div>

</body>
